body {
  font-family: sans-serif;
  color: black;
  align-content: center;
  /* background: linear-gradient(to right, #FD297B, #FF5864); */
}

.card {
  position: relative;
  background-color: white;
  width: 420px;
  height: 650px;
  margin-top: 10px;
  margin-left: 180px;
  box-shadow: 0px 5px 15px 0px rgb(153, 153, 153, 0.5);
  border-radius: 8px;
  margin-bottom: 80px;
}

.card-login-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../assets/image11.jpg') no-repeat fixed;
}

.card.login {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  margin-top: 40px;
}

.login-title {
  position: absolute;
  margin-left: 80px;
  margin-top: 50px;
  color: rgb(68, 68, 68);
}

.login-mini-title {
  position: absolute;
  margin-top: 98px;
  margin-left: 120px;
  color: rgb(68, 68, 68);
}

.login-field-container {
  padding-top: 130px;
  margin-left: 60px;
}

.input-field {
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  height: 20px;
  outline: none;
}

.input-field-container {
  padding-top: 270px;
  margin-left: 60px;
}

.mini-buttons {
  width: 120px;
  height: 30px;
  border: 1px solid #0082a7;
  border-radius: 20px;
  margin-right: 30px;
  margin-top: 20px;
  outline: none;
  background: none;
  transition: 0.4s;
}

.mini-buttons:hover {
  color: white;
  background: #FD297B;
  cursor: pointer;
  border: none;
  transform: scale(1.05, 1.05);
  transition: 0.4s;
  box-shadow: 2px 4px 8px 0px rgba(153, 153, 153, 0.5);
}

.card.signup {
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  margin-top: 50px;
}

.top-bar {
  position: relative;
  width: 99%;
  height: 60px;
  border: 0px solid black;
  background: white;
  box-shadow: 0px 5px 15px 0px rgb(153, 153, 153, 0.5);
  border-radius: 6px;
  margin-left: 10px;
}

.title-first {
  position: absolute;
  margin-top: 20px;
  margin-left: 19px;
  color: #d54d7b;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  /* line-height: 30px;  */
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
}

.title-second {
  position: absolute;
  margin-top: 10px;
  margin-left: 121px;
  color: white;
  font-family: "Great Vibes", cursive;
  font-size: 18px;
  /* line-height: 30px;  */
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
}

.title-third {
  position: absolute;
  margin-top: 28px;
  margin-left: 117px;
  color: white;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  /* line-height: 30px;  */
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
}

.title-ball {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 110px;
  background: #FF5864;
  color: white;
  border-radius: 50px 50px 0 0;
}

.log-out {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  position: absolute;
  top: 8px;
  right: 10px;
  margin-right: 10px;
}

.log-out button {
  width: inherit;
  height: inherit;
  background: white;
  color: black;
  border: 0;
  border-radius: inherit;
  font-family: sans-serif;
  font-size: 0.75rem;
}

.log-out button:hover {
  color: white;
  background: #FD297B;
  cursor: pointer;
  transform: scale(1.05, 1.05);
  transition: 0.5s;
  box-shadow: 2px 4px 8px 0px rgba(153, 153, 153, 0.5);
}

.log-out button:focus {
  outline: none;
}

.image.topbar {
  position: absolute;
  top: 3px;
  right: 0;
  margin-right: 140px;
  width: 43px;
  height: 43px;
  padding: 4px;
  border: 1px solid #00df6f;
  border-radius: 50%;
}

.image.topbar:hover {
  width: 45px;
  height: 45px;
  padding: 0px;
  cursor: pointer;
  margin-top: 4px;
  transition: 0.2s;
  transform: scale(1.05, 1.05);
  box-shadow: 2px 4px 8px 0px rgba(153, 153, 153, 0.5);
}

.search-container {
  position: absolute;
  top: 5px;
  /* width: 720px; */
  width: 50%;
  height: 50px;
  margin-left: 235px;
  border: 0px solid black;
  background-color: rgb(224, 231, 238);
  border-radius: 8px;
}

.center-icon {
  margin-top: 14px;
  margin-left: 20px;
}

.search {
  position: absolute;
  width: 670px;
  height: 40px;
  top: 5px;
  background: none;
  outline: none;
  margin-left: 16px;
  font-size: 15px;
  border: none;
}

.body-container {
  width: 99%;
  height: 950px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 50px;
  border: 0px solid black;
  box-shadow: 0px 5px 15px 0px rgb(153, 153, 153, 0.5);
  border-radius: 8px;
}

.top-body {
  height: 510px;
  width: 100%;
  border: 0px solid black;
}

.card-top {
  position: relative;
  height: 20%;
  border: 0px solid black;
  border-radius: 8px 10px 0 0;
}

.first-background-color {
  background: linear-gradient(to right, #FD297B, #FF5864);
}

.pill {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 0.6rem;
  padding: 5px;
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 2px;
  letter-spacing: 2px;
  background-color: white;
  font-weight: 600;
  box-shadow: 4px 6px 8px 0px rgba(46, 61, 73, 0.2);
  position: absolute;
  color: black;
  text-transform: uppercase;
  top: 0;
  left: 0;
}

.first-pill-color {
  color: #FD297B;
}

.tablink {
  background: none;
  color: rgb(63, 63, 63);
  float: left;
  border: 1px solid rgb(255, 3, 100);
  outline: none;
  border-radius: 0 0 10px 10px;
  margin-top: 100px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
  width: 13%;
  height: 35px;
  font-family: "Great Vibes", cursive;
}

.tablink:hover {
  background-color: #FD297B;
  color: white;
  transition: 0.4s;
  transform: scale(0.9, 0.9);
}

.tabcontent {
  position: absolute;
  margin: 2px;
  color: #252525;
  font-size: 15px;
  font-weight: bold;
}

.select {
  border-radius: 8px;
  padding: 6px;
  margin-left: 10px;
  outline: none;
}

.card-list {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 350px;
  margin: 10px;
  border-radius: 8px;
}

.card-list-image {
  position: absolute;
  width: 230px;
  height: 350px;
  border-radius: 8px;
  transition: 0.5s;
  object-fit: cover;
  z-index: 1;
}

.card-list-image:hover {
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.527);
  transition: 0.5s;
  height: 320px;
}

.card-list-sold-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 1;
  margin: 10px;
  right: 0;
}

.card-list .info {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  color: #353535;
}

.card-bottom {
  position: absolute;
  top: 0;
  margin-top: 230px;
  width: 100%;
  height: 100%;
  border: 0px solid black;
}

.card-single-property {
  position: relative;
  display: inline-block;
  width: 420px;
  height: 700px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgb(153, 153, 153, 0.5);
  border-radius: 8px;
  margin-bottom: 80px;
}

.card-single-property-image {
  position: absolute;
  width: 420px;
  height: 420px;
  border-radius: 8px 8px 0 0;
  transition: 0.5s;
}

.card-single-property-info {
  position: absolute;
  margin-top: 430px;
  margin-left: 20px;
  width: 420px;
  height: 420px;
  border-radius: 8px 8px 0 0;
  transition: 0.5s;
  color: #353535;
}

.dropzone {
  position: absolute;
  align-items: center;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 8px;
}

.dropzone.dragover {
  border: 2px dashed black;
}

.center {
  position: absolute;
  color: #ccc;
  text-align: center;
  margin-top: 85px;
}

.text-area {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-left: 20px;
  color: #777;
  font-family: sans-serif;
  width: 250px;
  height: 100px;
  outline: none;
}

.image-profile {
  width: 140px;
  height: 140px;
  border: none;
  margin-left: 140px;
  margin-top: 40px;
  border-radius: 50%
}

#profileName {
  text-align: center;
}

#profileEmail {
  text-align: center;
}

.buttons {
  width: 200px;
  height: 30px;
  border: 1px solid #0082a7;
  border-radius: 20px;
  margin-left: 120px;
  margin-top: 20px;
  outline: none;
  background: none;
  transition: 0.4s;
}

.buttons:hover {
  color: white;
  background: #FD297B;
  cursor: pointer;
  border: none;
  transform: scale(1.05, 1.05);
  transition: 0.4s;
  box-shadow: 2px 4px 8px 0px rgba(153, 153, 153, 0.5);
}

.footer {
  background: rgb(37, 40, 43);
  color: rgba(255, 255, 255, 0.849);
  height: 310px;
  position: absolute;
  margin-top: 1050px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-login {
  margin-top: 600px;
}

.footer .footer-bottom {
  background: #303036;
  color: #d8d8d8;
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.footer .footer-content {
  height: 300px;
  display: flex;
}


.footer .footer-content .footer-section {
  flex: 1;
  border: 0.5px solid rgb(129, 129, 129);
  padding: 25px;
  color: white;
}

.footer .footer-content .footer-section h1 {
  color: rgb(243, 243, 243);
  font-family: "Great Vibes", cursive;
  font-size: 20px;
}

.footer .footer-content .footer-section li {
  margin: 10px;
}

.footer .footer-content .footer-section button {
  color: white;
}

.footer .footer-content .footer-section input {
  text-align: left;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  outline: none;
}

.footer .footer-content .footer-section textarea {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-left: 10px;
  color: #777;
  font-family: sans-serif;
  width: 250px;
  height: 50px;
  outline: none;
}


.navbar {
  height: 56px;
  position: relative;
  background-color: white;
  padding-top: 16px;
  padding-left: 20px;
  box-shadow: 0px 5px 15px 0px rgb(153, 153, 153, 0.5);
}

.sign-up {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  position: absolute;
  top: 16px;
  right: 10px;
  margin-right: 16px;
}

.sign-up-big-margin {
  margin-right: 150px;
}

.sign-up button {
  width: inherit;
  height: inherit;
  background: white;
  color: black;
  border: 0;
  border-radius: inherit;
  font-family: sans-serif;
  font-size: 0.75rem;
}

.sign-up button:hover {
  color: white;
  background: #FD297B;
  cursor: pointer;
  transform: scale(1.05, 1.05);
  transition: 0.2s;
  box-shadow: 2px 4px 8px 0px rgba(153, 153, 153, 0.5);
}

.sign-up button:focus {
  outline: none;
}