.card-login-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/image11.jpg') no-repeat fixed;
    text-align: center;
}


.card-login {
    position: relative;
    background-color: white;
    width: 420px;
    height: 650px;
    margin-top: 10px;
    margin-left: 180px;
    box-shadow: 0px 5px 15px 0px rgb(153, 153, 153, 0.5);
    border-radius: 8px;
    margin-bottom: 80px;
}

.card-login.login {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    margin-top: 40px;
}

.card-login.signup {
    margin-left: auto;
    margin-right: auto;
    height: 430px;
    margin-top: 40px;
}

.card.signup {
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    margin-top: 50px;
}



.navbar {
    height: 56px;
    position: relative;
    background-color: white;
    padding-top: 16px;
    padding-left: 20px;
    box-shadow: 0px 5px 15px 0px rgb(153, 153, 153, 0.5);
}

.login-title {
    position: absolute;
    margin-left: 105px;
    margin-top: 50px;
    color: rgb(68, 68, 68);
}

.login-mini-title {
    position: absolute;
    margin-top: 98px;
    margin-left: 135px;
    color: rgb(68, 68, 68);
}

.login-field-container {
    padding-top: 130px;
}

.title-first {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 19px;
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 20px;
    /* line-height: 30px;  */
    font-weight: normal;
    text-shadow: 0 1px 1px #fff;
}

.title-second {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 121px;
    color: white;
    font-family: "Great Vibes", cursive;
    font-size: 18px;
    /* line-height: 30px;  */
    font-weight: normal;
    text-shadow: 0 1px 1px #fff;
}

.title-third {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 38px;
    margin-left: 117px;
    color: white;
    font-family: "Great Vibes", cursive;
    font-size: 20px;
    /* line-height: 30px;  */
    font-weight: normal;
    text-shadow: 0 1px 1px #fff;
}

.title-ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 110px;
    background: #FF5864;
    color: white;
    border-radius: 50px 50px 0 0;
}

.sign-up {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    position: absolute;
    top: 16px;
    right: 10px;
    margin-right: 16px;
}

.sign-up-big-margin {
    margin-right: 150px;
}

.sign-up button {
    width: inherit;
    height: inherit;
    background: white;
    color: black;
    border: 0;
    border-radius: inherit;
    font-family: sans-serif;
    font-size: 0.75rem;
}

.sign-up button:hover {
    color: white;
    background: #FD297B;
    cursor: pointer;
    transform: scale(1.05, 1.05);
    transition: 0.2s;
    box-shadow: 2px 4px 8px 0px rgba(153, 153, 153, 0.5);
}

.sign-up button:focus {
    outline: none;
}

.footer {
    background: rgb(37, 40, 43);
    color: rgba(255, 255, 255, 0.849);
    height: 310px;
    position: absolute;
    margin-top: 1050px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-login {
    margin-top: 600px;
}

.footer .footer-bottom {
    background: #303036;
    color: #d8d8d8;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer .footer-content {
    height: 300px;
    display: flex;
}


.footer .footer-content .footer-section {
    flex: 1;
    border: 0.5px solid rgb(129, 129, 129);
    padding: 25px;
    color: white;
}

.footer .footer-content .footer-section h1 {
    color: rgb(243, 243, 243);
    font-family: "Great Vibes", cursive;
    font-size: 20px;
}

.footer .footer-content .footer-section li {
    text-align: left;
    margin: 10px;
}

.footer .footer-content .footer-section button {
    color: white;
}

.footer .footer-content .footer-section input {
    text-align: left;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    outline: none;
}

.footer .footer-content .footer-section textarea {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-left: 10px;
    color: #777;
    font-family: sans-serif;
    width: 250px;
    height: 50px;
    outline: none;
}


.navbar {
    height: 56px;
    position: relative;
    background-color: white;
    padding-top: 16px;
    padding-left: 20px;
    box-shadow: 0px 5px 15px 0px rgb(153, 153, 153, 0.5);
}

.input-field {
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    height: 20px;
    outline: none;
}

.input-field-container {
    padding-top: 270px;
}

#forgot-password {
    color: #5e5e5e;
}

#forgot-password:hover {
    cursor: pointer;
}

.mini-buttons {
    width: 120px;
    height: 30px;
    border: 1px solid #0082a7;
    border-radius: 20px;
    margin-right: 30px;
    margin-top: 20px;
    outline: none;
    background: none;
    transition: 0.4s;
}

.mini-buttons.loginform {
    margin-right: 0px;
}

.mini-buttons.resetform {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.mini-buttons:hover {
    color: white;
    background: #FD297B;
    cursor: pointer;
    border: none;
    transform: scale(1.05, 1.05);
    transition: 0.4s;
    box-shadow: 2px 4px 8px 0px rgba(153, 153, 153, 0.5);
}